<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="header"
     style="position: fixed;left: 0;top: 0;width: 100%;background-color: #563d7c;color: white;text-align: center; margin">
    <h1>Was-soll-ich-anziehen-outift-generierer <b>PRO</b></h1>
</div>

<br>
<main>
    <div class="container my-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if session.username != None %}
                    <a class="nav-item nav-link active" href="/contact">Contact</a>
                    <a class="nav-item nav-link active" href="/settings">Settings</a>
                    {% endif %}
                    {% if session.username == None %}
                    <a class="nav-item nav-link active" href="/log-in">Login</a>
                    <a class="nav-item nav-link active" href="/sign-up">Signup</a>
                    {% endif %}
                    {% if session.username != None %}
                    <a class="nav-item nav-link active" href="/logout">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

                {% if weather_data.moon_stars_image == True or weather_data.moon_image == True %}
                <audio src="static/audio/night_sounds.mp3">
                    <p>If you are reading this, it is because your browser does not support the audio element. </p>
                </audio>
                {% endif %}

                {% if weather_data.sun_image == True or weather_data.partly_cloudy_image == True %}
                <iframe src="static/audio/rain_sound_effects.mp3" allow="autoplay" style="display:none"
                        id="iframeAudio">
                </iframe>
                <audio autoplay loop id="playAudio">
                    <source src="static/audio/rain_sound_effects.mp3">
                    <p>If you are reading this, it is because your browser does not support the audio element. </p>
                </audio>
                {% endif %}

                {% if weather_data.moon_stars_image == True %}
                <picture>
                    <img src="static/weather/clear_night.png" class="img-responsive" alt="Clear night" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.moon_image == True %}
                <picture>
                    <img src="static/weather/night.png" class="img-responsive" alt="Normal Night" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.sunny_image == True %}
                <picture>
                    <img src="static/weather/sunny.png" class="img-responsive" alt="Sunny" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.partly_cloudy_image == True %}
                <picture>
                    <img src="static/weather/partly_cloudy.png" class="img-responsive" alt="Partly Cloudy" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.cloudy_image == True %}
                <picture>
                    <img src="static/weather/cloudy.png" class="img-responsive" alt="Cloudy" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.drizzle_image == True %}
                <picture>
                    <img src="static/weather/drizzle.png" class="img-responsive" alt="Drizze" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.rainy_image == True %}
                <picture>
                    <img src="static/weather/raining.png" class="img-responsive" alt="Raining" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.storm_image == True %}
                <picture>
                    <img src="static/weather/storming.png" class="img-responsive" alt="Storming" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.snowy_image == True %}
                <picture>
                    <img src="static/weather/snowing.png" class="img-responsive" alt="Snowing" width="15%">
                </picture>
                <br>
                {% endif %}
                <br>
                <br>
                <h2 class="display-4 fw-bold lh-1">{{data.temp_c}} C° | {{data.condition_text}}</h2>
                <h1>{{data.place}}, {{data.country}}</h1>
                <h3>{{data.date}} | {{data.time}}</h3>
                <p class="lead">Sie wissen nicht, was sie anziehen sollen? Kein Problem. Mit unserer einfachen no-click
                    und Oma-freundlicher User Interface zeigen wir Ihnen, anhand vom Wetter,
                    was Sie anziehen sollten.</p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0">
                <h4>Ihr persönlich generiertes Outfit</h4>
                <br>
                <picture>
                    <!-- Outfit scales for desktop and laptop screens with regular res -->
                    <!-- Uses png first, if not available then use jpg -->
                    <source media="(min-width:1025px)" srcset="static/clothes/outfit.png">
                    <source media="(min-width:1025px)" srcset="static/clothes/outfit.jpg">

                    <!-- Outfit scales for phone and tablet screens with regular res -->
                    <!-- Uses png first, if not available then use jpg -->
                    <source media="(min-width:320px)" srcset="static/clothes/outfit_small.png">
                    <source media="(min-width:320px)" srcset="static/clothes/outfit_small.jpg">
                    <!-- Fallback image incase none of the other images could be shown -->
                    <img src="static/clothes/outfit.png" class="img-responsive" alt="Outfit fallback" width="50%">
                </picture>
            </div>
        </div>
    </div>

</main>
<div class="footer"
     style="position: fixed;left: 0;bottom: 0;width: 100%;background-color: #563d7c;color: white;text-align: center;">
    <p>Eine Webanwendung für das Modul 152 - Erstellt von Julian Mathis und Maurice Bigler</p>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>