<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<main>
    <h1 class="visually-hidden">Heroes examples</h1>

    <div class="b-example-divider"></div>

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

                {% if weather_data.moon_stars_image == True or weather_data.moon_image == True %}
                <audio src="static/audio/night_sounds.mp3">
                    <p>If you are reading this, it is because your browser does not support the audio element. </p>
                </audio>
                {% endif %}

                {% if weather_data.sun_image == True or weather_data.partly_cloudy_image == True %}
                <iframe src="static/audio/rain_sound_effects.mp3" allow="autoplay" style="display:none"
                        id="iframeAudio">
                </iframe>
                <audio autoplay loop id="playAudio">
                    <source src="static/audio/rain_sound_effects.mp3">
                    <p>If you are reading this, it is because your browser does not support the audio element. </p>
                </audio>
                {% endif %}

                {% if weather_data.moon_stars_image == True %}
                <picture>
                    <!-- <source srcset="mdn-logo.png 1x, mdn-logo_x2.png 2x, mdn-logo_x3.png 3x"> -->
                    <img src="static/weather/clear_night.png" class="img-responsive" alt="Clear night" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.moon_image == True %}
                <picture>
                    <img src="static/weather/night.png" class="img-responsive" alt="Normal Night" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.sun_image == True %}
                <picture>
                    <img src="static/weather/sunny.png" class="img-responsive" alt="Sunny" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.partly_cloudy_image == True %}
                <picture>
                    <img src="static/weather/partly_cloudy.png" class="img-responsive" alt="Partly Cloudy" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.cloudy_image == True %}
                <picture>
                    <img src="static/weather/cloudy.png" class="img-responsive" alt="Cloudy" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.drizzle_image == True %}
                <picture>
                    <img src="static/weather/drizzle.png" class="img-responsive" alt="Drizze" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.rainy_image == True %}
                <picture>
                    <img src="static/weather/raining.png" class="img-responsive" alt="Raining" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.storm_image == True %}
                <picture>
                    <img src="static/weather/storming.png" class="img-responsive" alt="Storming" width="15%">
                </picture>
                {% endif %}
                {% if weather_data.snowy_image == True %}
                <picture>
                    <img src="static/weather/snowing.png" class="img-responsive" alt="Snowing" width="15%">
                </picture>
                {% endif %}
                <h2 class="display-4 fw-bold lh-1">{{data.temp_c}} C° | {{data.condition_text}}</h2>
                <h1>{{data.place}}, {{data.country}}</h1>
                <h3>{{data.date}} | {{data.time}}</h3>
                <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
                    most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid
                    system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <form action="/generate-outfit/" method="post">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Generate Outfit
                        </button>
                    </form>
                    </button>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0">
                <img src="static/clothes/outfit.png" class="img-responsive" alt="Snowing" width="50%">
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>
</main>


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>